@import "bootstrap";

body {
  background-color: white;
}

h1 {
  color: black;
}

.btn {
  margin-top: 5px;

.navbar {
  padding: 15px;
}

.navbar-brand {
  font-weight: bold;
}

.navbar a {
  font-size: 18px;
}

.navbar a:hover {
  color: blue;
}}
